@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar Styling */
.navbar {

    .navbar-brand {
      font-size: 30px;
      font-weight: bold;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #783cda
    }
  
    .nav-link {
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }
    
    .btn {
      background-color: #783cda;
      border-radius: 20px;
      padding: 6px 15px;
    }
  }

  
  